{% load static %}
{% csrf_token %}
{% include 'header.html' %}
{% include 'navbar.html' %}
{% block content %}

{% block body %}
            {% endblock body %}


<!-- health section start -->
<!-- banner section start -->
    <div class="header_section">
<div id="main_slider" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Qaz <br><span style="color: #151515;">Health</span></h1>
                            <p class="banner_text" style="font-size:24px;">Приложение, которое регулирует нагрузку сил
                                скорой помощи</p>
                            {% if not user.is_authenticated %}
                                <div class="btn_main">
                                    <div class="more_bt"><a href="{% url 'signin' %}">Вход/Регистрация</a></div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="image_1"><img style="padding-top: 50px;"
                                                      src="{% static 'images/indexPhoto.png' %}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="health_section layout_padding">
    <div class="container">
        <h1 class="health_taital">О проекте</h1>
        <p class="health_text" style="width: 50em; font-size: 20px;">Приложение собирает данные со всех запросов скорой
            помощи. На основе данных приложение выводит статистику по всем запросам.</p>
        <div class="health_section layout_padding">
            <div class="row">
                <div class="col-sm-7">
                    <div class="image_main">
                        <div class="">
                            <img src="{% static 'images/img1.png' %}" alt="" class="" style="width:100%; margin-left: 150px;
                        margin-right: auto;">
                        </div>
                        <div class="middle">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="">
                        <div class=""></div>
                        <div class="middle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_taital"> Наше мобильное приложение</h1>
        <div class="news_section_2 layout_padding">
            <div class="iphone" style="display: flex">
                <div class="box_main">
                    <div class="icon_1"><img src="{% static 'images/iphone1.png' %}"></div>
                </div>
                <div class="box_main">
                    <div class="icon_1"><img src="{% static 'images/iphone2.png' %}"></div>
                </div>
                <div class="box_main">
                    <div class="icon_1"><img src="{% static 'images/iphone3.png' %}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{#<table class="table">#}
{#    <tr class="table-bordered">#}
{#        {% for l in data_columns %}#}
{#            <th>#}
{#                {{ l }}#}
{#            </th>#}
{#        {% endfor %}#}
{#    </tr>#}
{#    {% for vList in data_values %}#}
{#        <tr class="table-bordered">#}
{#            {% for v in vList %}#}
{#                <td>#}
{#                    {{ v }}#}
{#                </td>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    {% endfor %}#}
{##}
{#</table>#}
    {% if user.is_authenticated %}
<div align="center">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>
    {% endif %}


<script>
    var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                borderColor: "red",
                fill: false
            }, {
                data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                borderColor: "green",
                fill: false
            }, {
                data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                borderColor: "blue",
                fill: false
            }]
        },
        options: {
            legend: {display: false}
        }
    });
</script>

<!-- health section end -->
{% endblock content%}

</body>