{% include 'header.html' %}
{% load static %}
{% csrf_token %}
{% include 'navbar.html' %}
   <!-- health section start -->
   <div class="health_section layout_padding">
      <div class="container">
         <h1 class="health_taital">Try our phone application</h1>
         <div class="health_section layout_padding">
            <div class="row">
               <div class="col-sm-12">

                        <img src="{% static 'images/application-1.jpg' %}" alt="Avatar" class="image" style="width:200%">

               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- health section end -->
